/* 상단바 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-img {
  width: 32px;
  margin-right: 8px;
}

.menu-btn {
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}

/* 사이드 메뉴 (기본 숨김) */
.side-menu {
  position: fixed;
  top: 0;
  right: -500px;   /* 기본은 화면 밖 */
  width: 250px;
  height: 100%;
  background: #f9f9f9;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 1000;
}

/* 닫기 버튼 */
.close-btn {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  user-select: none;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.side-menu ul li {
  margin: 15px 0;
}

.side-menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}




body {
      margin: 0;
      background: #ffffff;
      font-family: "Noto Sans KR", sans-serif;
      color: #222222;
    }

.tier-list {
      width: 90%;
      max-width: 1000px;
      margin: 30px auto;
      border: 2px solid #ffcc00;
      padding: 20px;
      background: #111;
    }

.tier-list h1 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 1.8rem;
      color: #ffcc00;
      border: 2px solid #ffcc00;
      padding: 10px;
    }

.tier {
      display: flex;
      margin-bottom: 20px;
    }

.tier-name {
      width: 80px;
      font-size: 1rem;
      border: 1px solid #ffcc00;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.1);
      padding: 5px;
      color: #fff;
    }

.characters {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      grid-template-columns: repeat(5, 1fr);
      padding-left: 10px;
    }

.char {
      border: 1px solid #ffcc00;
      background: rgba(255,255,255,0.05);
      border-radius: 6px;
      padding: 4px;
      text-align: center;
      width: 100px;
    }

.char img {
      width: 100%;
      height: 100px;
      object-fit: cover;
      border-radius: 4px;
    }

.char p {
      margin: 4px 0 0;
      font-size: 0.8rem;
      color: #fff;
    }



footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  font-size: 14px;
}
